<!DOCTYPE html>
<html>
<head>
  <title>Mongo db Data</title>
</head>
<body>
  <h1>Users</h1>
  <table border=1>
    <thead>
      <tr>
        <th>Username</th>
        <th>Created At</th>
      </tr>
    </thead>
    <tbody>
      <% for (let i = 0; i < Subscribers.length; i++) { %>
        <tr>
          <td><%= Subscribers[i].username %></td>
          <td><%= Subscribers[i].createdAt %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
</body>
</html>